
.rst-content
  .guilabel
    background: #000

  .admonition
    @extend .alert
    margin-bottom: 1rem
    color: var(--text-color) !important
    clear: both
    
    &.note
      @extend .alert-info

    &.seealso
      @extend .alert-info

    &.warning
      @extend .alert-warning

    &.attention
      @extend .alert-warning
    
    &.caution
      @extend .alert-warning

    &.important
      @extend .alert-warning

    &.danger
      @extend .alert-danger

    &.error
      @extend .alert-danger
    
    &.hint
      @extend .alert-success

    &.tip
      @extend .alert-success

  .admonition-title
    @extend .alert-heading !optional

    font-weight: bolder
    font-size: 110%

  blockquote
    font-size: var(--font-size-base)

  .docutils.container
    padding: .5rem 0 .5rem 0

  table p, .line-block
    text-align: start

  table caption
    caption-side: top

  table.docutils
    overflow: auto
    display: block
    margin-bottom: 1rem
    padding-top: 1rem

    tbody
      display: table

  .hlist
    width: 100%
    box-shadow: none
    background-color: unset

    tr
      display: flex
      flex-flow: row wrap
    td
      margin-right: auto
      flex: unset

  .sidebar
    float: right
    background-color: var(--background-color-secondary)
    border-radius: var(--border-radius)
    box-shadow: var(--box-shadow-card)
    padding-left: 1rem
    padding-right: 1rem
    margin-left: .5rem

  .sidebar-title
    background-color: var(--background-color-tertiary)
    border-radius: var(--border-radius)
    padding-top: .5rem
    padding-bottom: .5rem
    padding-left: 1rem
    padding-right: 1rem
    margin-left: -1rem
    margin-right: -1rem
    text-align: center
    font-weight: bold

  section > h5, h4, h3, h2, h1
    clear: both

  figcaption, caption
    color: var(--text-color-secondary)
    font-style: italic
    font-size: 90%

  figcaption p:last-child
    margin-bottom: 0

  dl
    dt
      font-weight: bolder
      color: var(--text-color)
      font-size: var(--font-size-base)

    dd
      font-family: var(--font-family-body)
      margin-left: 2rem
      padding-bottom: 0
      border: none
      margin-bottom: 1rem

      p:last-child
        margin-bottom: 0

  dl.field-list
    display: grid
    grid-template-columns: max-content auto

    > dt:after
        content: ":"

    > dt, > dd
      margin-bottom: 0
      padding-bottom: 0

    dd p:last-child
      margin-bottom: 0

  p.rubric
    @extend h5


  .sig
    font-family: var(--font-family-mono)
