
| <?php get_header(); ?>

.featured.featured-sm
	.featured-overlay
	.container
		h1 "These are dragon lands, Sintel..."

.container
	.row
		.col-md-8.col-md-offset-2.text-center
			h1 404. Not Found
			p The page you were looking for seems to be gone or placed elsewhere.

| <?php get_footer('sitemap'); ?>
| <?php get_footer(); ?>
